@{
    ViewData["Title"] = "Карта Кав'ярень";
}

<div id="map"></div>

@section Scripts {
    <script type="application/json" id="cafes-data">
        @Html.Raw(ViewData["CafesJson"])
    </script>

    <script>
        initializeMap();
    </script>
}