html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh; 
    border: 1px solid #ccc;
    border-radius: 8px;
}

.container {
    padding: 0;
    max-width: 100%;
}
